<footer class="site-footer bg--dark" role="contentinfo">
  <div class="site-footer--primary">
    <div class="wrap">
      <div class="quick-links">
        <div class="quick">
          <h5 class="subheading">Navigation</h5>
          <ul class="no-margin no-bullets">
            {% include nav.html %}
          </ul>
        </div>
        <div class="quick">
          <h5 class="subheading">Quicklinks</h5>
          <ul class="no-margin no-bullets">
            <li><a href="{{ site.about_me.org_github }}">Github</a></li>
            <li><a href="https://twitter.de/{{ site.twitter.username }}">Twitter</a></li>
            <li><a title="PGP Public Key - Fingerprint: 875D 7213 BF8F 5C40 9FD8 7216 A769 F627 E241 BE66" target="_blank" href="https://pgp.mit.edu/pks/lookup?op=get&search=0xA769F627E241BE66">PGP Public Key</a></li>
            <li><a href="two-brain_vCard.vcf">vCard herunterladen</a></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="blog-entry padding-top">
        <h5 class="subheading">Besuchen Sie unseren Blog</h5>
        <p>
          Hier setzen wir uns mit aktuellen Entwicklungen und Themen rund um das Web auseinander und teilen nützliche Kleinigkeiten, die wir in der digitalen Welt auflesen.
        </p>
        <a data-scroll class="btn btn--dark sans-ui" href="{{ site.baseurl }}/blog/">
          Mehr Blog ~
        </a>
      </div>
    </div>
  </div>
  <div class="site-footer--secondary">
    <div class="wrap">
      <p class="copyright float-left">
        &copy; 2016. Alle Rechte vorbehalten.
      </p>
      <nav class="nav legal float-right">
        <ul class="flex center no-bullets no-margin">
          <li>
            <a title="Datenschutzhinweise lesen" href="{{ site.baseurl }}/datenschutz/">Datenschutz</a>
          </li>
          <li>
            <a title="Impressum begutachten" href="{{ site.baseurl }}/impressum/">Impressum</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</footer>
