<header id="site-header" class="site-header fixed bg--white border-bottom" role="banner">
  <a data-scroll href="{% if page.slug == 'home' %}#{% else %}/{% endif %}" title="Home">
    {% include two-brain-brand.svg %}
    {% include two-brain-nobrand.svg %}
  </a>
  <div id="js-overlay" class="js-nav-overlay js-overlay fullscreen fixed bg--red">
    <div id="js-lang" class="lang flex center">
      <a href="#">DE</a><a href="#">EN</a>
    </div>
    <nav id="js-nav" class="site-nav text-center">
      <ul class="no-margin no-bullets sans-ui">
        {% include nav.html %}
      </ul>
      <address id="js-address" class="adress">
        <a class="phone" title="" alt="" href="tel:+491776432322">+49 (0) 177 / 64 32 322</a>
        <a class="mail" href="mailto:{{ site.about_me.mail | encode_mail }}" title="" alt="">{{ site.about_me.mail }}</a>
      </address>
    </nav>
  </div>
  <button id="js-nav-toggle" class="js-nav-button nav-toggle sans-ui relative">
    <span class="nav-toggle_icon">Menu</span>
  </button>
</header>
