.tagline {
  padding: 8 * $base-spacing 0 10 * $base-spacing;
}

.philosophy {
  margin-top: -(6 * $base-spacing);
  padding-bottom: $base-spacing;
  text-align: center;
}

.claim {
  background: #fff;
  border-radius: $base-border-radius + 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  h2 {
    padding: 1em 0.5em;
    border-radius: $base-border-radius $base-border-radius 0 0;
  }

  p {
    padding: 1em $base-spacing $base-spacing;
    margin: 0;
    font-size: 22px;
  }
}
