.claims {
  margin-top: -(6 * $base-spacing);
  text-align: center;
}

.claim {
  background: #fff;
  border-radius: $base-border-radius + 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  h2 {
    padding: 1em 0.5em;
    border-radius: $base-border-radius $base-border-radius 0 0;
  }

  p {
    padding: 1em $base-spacing $base-spacing;
    margin: 0;
    font-size: 22px;
  }
}
