//
// Specific rules for the portfolio section
//

.portfolio {

  &_text {
    padding-top: 2 * $base-spacing;
    padding-bottom: 2 * $base-spacing;
    font-size: 22px;

    @include min-width(large) {
      padding-right: $base-spacing;
      width: 50%;
    }
  }

  &_media {
    position: relative;
    height: 25rem;
    background: $dark-gray;
    text-align: center;

    @include min-width(large) {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 50%;
    }
  }
}
