//
// Specific rules for the team section
//

.team {
  // background-color: $darkGrey;

  .wrap {

    @include min-width(medium) {
      max-width: 720px;
    }

    @include min-width(large) {
      max-width: 960px;
    }
  }

  &-photo {

    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0 $team-arrow-height $team-arrow-width $team-arrow-height;
      border-color: transparent transparent $card-bg-color transparent;

      @include max-width(mediumMax) {
        bottom: -10px;
      }

      @include min-width(medium) {
        top: $team-arrow-top;
        border-width: $team-arrow-height $team-arrow-width $team-arrow-height 0;
        border-color: transparent $card-bg-color transparent transparent;
      }
    }

    &.float-left:before {

      @include max-width(mediumMax) {
        right: 12.5px;
      }

      @include min-width(medium) {
        right: -#{$global-padding--medium};
      }
    }

    &.float-right:before {

      @include max-width(mediumMax) {
        left: 12.5px;
      }

      @include min-width(medium) {
        transform: rotate(180deg);
        left: -#{$global-padding--medium};
      }
    }
  }

  &-content {

    @include min-width(medium) {
      width: 540px;
    }

    @include min-width(large) {
      width: 780px;
    }
  }

  .member {
    margin-top: $global-padding--medium;
  	border-radius: 50%;
  }

  &-icons {
    position: absolute;
    bottom: $card-padding / 4;

    .float-left & {
      right: $card-padding;
    }

    .float-right & {
      left: $card-padding;
    }
  }

  &-icon {
    fill: $darkGrey;
    // opacity: 0.5;
    transition: $global-transition;

    &:hover {
      fill: $accent;
      opacity: 1;
    }

    &--linkedin:hover {
      fill: $linkedin;
    }

    &--twitter:hover {
      fill: $twitter;
    }

    &--xing:hover {
      fill: $xing;
    }

    &--stackoverflow:hover {
      fill: $stackoverflow;
    }

    &--github:hover {
      fill: $github;
    }
  }
}

.card--team {
  p {
    padding-bottom: $card-padding;
  }
}
