# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
npm-debug.log
Gemfile.lock
secrets.json
build
workbench
source/tracking.js
source/_data/*.json
source/assets/styles
source/assets/scripts
source/assets/images
source/assets/fonts/_src
source/_includes/*.css
source/_includes/logo.svg
