.btn {
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 500;
  margin-top: $small-spacing;

  &:hover,
  &:focus,
  &:active {
    background-color: shade($action-color, 20%);
  }

  &.bgc--teal {
    &:hover,
    &:focus,
    &:active {
      background-color: shade($accent-color, 20%);
    }
  }
}
