//
// Colors
//

.bg {

	&--white {
		background-color: $white;

		&,
		a {
			color: $darkGrey;
			fill: $accent;
		}
	}

	&--dark {
		background-color: $darkGrey;

		&,
		a {
			color: $white;
			fill: $white;
		}
	}

	&--red {
		background-color: $accent;

		&,
		a:not(.btn) {
			color: $white;
			fill: $white;
		}

		h1, h2 {
			text-shadow: $global-text-shadow;
		}
	}

	&--light {
		background-color: $lightGrey;
		fill: $darkGrey;
	}
}

h1.bg--red,
h2.bg--red {
		text-shadow: $global-text-shadow;
	}
