//
// Grid
//

.flex {
  display: flex;
  flex-wrap: wrap;

  &-wrap {
    flex: 1;
  }

  &.column {
    flex-flow: column nowrap;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

.one_half {
  @include min-width(logo-break) {
    @include span(2 of 4);

    &:last-child {
      @include last;
    }
  }
}
