//
// Grid
//

.flex {
  display: flex;
  flex-wrap: wrap;

  &-wrap {
    flex: 1;
  }
}

.one-half {
  @include min-width(logo-break) {
    @include span(2 of 4);

    &:last-child {
      @include last;
    }
  }
}
