//
// Beam me up! (Back to top)
//

.beam-me-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  z-index: z(header);

  &.is-visible {
    visibility: visible;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
