//
// Contact form
//

.cform {
  color: $white;

  &-group {

    &_label {
      display: flex;
      justify-content: space-between;

      &.required:after {
        content: 'Pflichtfeld';
        color: $accent;
        font-size: 16px;
        // font-weight: 400;
        // margin-top: 5px;
        float: right; // IE
      }
    }
  }

  &-field {
    border-color: $white;
    width: 100%;
    appearance: none;
    padding: 10px 12px;
    height: 54px;

    &--textarea {
      height: 150px;
      resize: none;
    }

    &:hover,
    &:focus {
      box-shadow: $box-shadow--level-2;
      outline: $white;
      // border-width: 2px;

    }
  }
}
