.animated {
  animation-duration: 2 * $base-duration;
  animation-fill-mode: both;
  will-change: transform;

  &.slideDown {
    animation-name: slideDown;
  }

	&.slideUp {
    animation-name: slideUp;
	}
}
