//
// Nav overlay
//


.js-overlay {
  display: none;

  &--is-expanded {
    // overflow: hidden;

    .js-overlay,
    .lang {
      // display: table;
    }

    .nav-toggle {
      background-color: $white;
    }

    .beam-me-up.is-visible {
      opacity: 0;
      visibility: hidden;
    }

    .nav-toggle_icon {
      background: 0 0;

      &:after,
      &:before {
        width: 28px;
      }

      &:before {
        transform: rotate(45deg);
        transform-origin: 0 0;
        right: -6px;
        top: -9px;
      }

      &:after {
        transform-origin: 0 100%;
        transform: rotate(-45deg);
        right: -6px;
        top: 9px;
      }
    }
  }
}
