.testimonial {
  padding: 5 * $base-spacing 0 3 * $base-spacing;
  text-align: left;

  .image-area {
    margin: -$small-spacing $base-spacing 0 (-(2 * $small-spacing));
  }

  .round {
    border-radius: 50%;
  }

  .text-block {
    flex: 1;
    padding-left: $small-spacing;
  }

  blockquote {
    display: flex;

    &:before {
      content: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><path fill="#5eb2b2" d="M0 16v16h16V16H8s0-8 8-8V0S0 0 0 16zm40-8V0S24 0 24 16v16h16V16h-8s0-8 8-8z"/></svg>');
      z-index: 10;
    }
  }

  q {
    display: block;
    font-size: 22px;

    &:before,
    &:after {
      color: $action-color;
      font-weight: 700;
    }
  }

  cite {
    color: $accent-color;
    font-style: normal;
    font-weight: 700;
  }

  cite a {
    color: $accent-color;
    font-style: normal;
    font-weight: 700;

    &:hover {
      border-bottom: 2px solid $accent-color;
    }
  }
}
