.testimonial {
  padding: 4 * $base-spacing 0;
  text-align: left;

  .image-area {
    margin-bottom: $small-spacing;

    @include min-width(large) {
      margin: -$small-spacing $base-spacing 0 (-(2 * $small-spacing));
    }
  }

  .text-block {
    @include min-width(large) {
      flex: 1;
      padding-left: $small-spacing;
    }
  }

  blockquote {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include min-width(large) {
      flex-direction: row;
      text-align: left;
    }

    &:before {
      @include min-width(large) {
        content: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 32"><path fill="#5eb2b2" d="M0 16v16h16V16H8s0-8 8-8V0S0 0 0 16zm40-8V0S24 0 24 16v16h16V16h-8s0-8 8-8z"/></svg>');
        z-index: 10;
      }
    }
  }

  q {
    display: block;
    font-size: 1.5rem;

    &:before,
    &:after {
      color: $action-color;
      font-weight: 700;
    }
  }

  cite {
    color: $accent-color;
    font-style: normal;
    font-weight: 700;
  }

  cite a {
    color: $accent-color;
    font-style: normal;
    font-weight: 700;

    &:hover {
      border-bottom: 2px solid $accent-color;
    }
  }
}
