<section class="claims">
  <div class="wrap">
    <div id="human-design" class="claim one-half">
      <h2 class="bgc bgc--teal">Menschliches Design</h2>
      <p>
        Ausgangspunkt meiner Arbeit ist das menschliche Bedürfnis nach gelingender <strong>Kommunikation</strong>. Kunden und ihre Nutzer profitieren dabei von meiner klaren <strong>Designsprache</strong>. Meine Webseiten sind deshalb leicht zu bedienen, barrierearm und für alle Endgeräte optimiert.
      </p>
    </div>
    <div id="digital-craft" class="claim one-half">
      <h2 class="bgc bgc--teal">Digitales Handwerk</h2>
      <p>
        Unter der Oberfläche dampft und raucht eine Maschine, bestehend aus Code. Moderne <strong>Netztechnologie</strong> und die Einbeziehung aktueller Entwicklungen bilden die technische Grundlage Ihres Erfolgs, mein <strong>Feintuning</strong> sorgt für geringe Ladezeiten und optimale Sicherheit.
      </p>
    </div>
  </div>
  <div class="testimonial">
    <blockquote class="wrap full">
      <div class="image-area loading">
        <img class="round lazy" title="" alt=""
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ site.baseurl }}/assets/images/team/wadamow.jpg"
          width="200" height="200">
        <noscript>
          <img class="round" title="" alt=""
            src="{{ site.baseurl }}/assets/images/team/wadamow.jpg"
            width="200" height="200">
        </noscript>
      </div>
      <div class="text-block">
        <q>Mit Schmardt macht's einfach am meisten Spaß, ich liebe den einfach - <strong>good times, bro!</strong></q>
        <cite>&mdash; <a href="#">Wasili Adamow, freier App-Entwickler (Berlin)</a></cite>
      </div>
    </blockquote>
  </div>
</section>
