<section class="portfolio relative">
  <div class="relative bgc bgc--red">
    <div class="wrap full">
      <div class="portfolio_text">
        <strong>Für ein besseres Web</strong>
        <p>
          Ich entwerfe, errichte und betreue <strong>Webprojekte</strong> für kleine Unternehmen sowie Einzelpersonen. Gern saniere ich auch bestehende Internetseiten, indem ich sie optisch überarbeite <strong>(Redesign)</strong> oder ihre technischen Grundstrukturen modernisiere <strong>(Relaunch)</strong>.
        </p>
        <p>
          Projekte mit toller Idee, aber knappem Geldbeutel unterstütze ich gern im Rahmen meiner Möglichkeiten, außerdem beteilige ich mich an der Entwicklung von freier und quelloffener Software.
        </p>
      </div>
    </div>
    <div class="portfolio_media">
      <div id="slider" class="slider slider--fade fullscreen">
        <div class="slider-list fullscreen">
          {% for client in site.data.portfolio %}
          <figure class="slider_item loading fullscreen">
            <img class="slider_image lazy fullscreen" title="{{ client.img_title }}" alt="{{ client.img_alt }}"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="assets/images/portfolio/portfolio_{{ client.handle }}.jpg" />
            <figcaption class="slider_overlay fullscreen">
              <h3>
                {{ client.name }}
              </h3>
              <p>
                {{ client.desc }}
              </p>
              <a class="btn bgc--teal" href="{{ client.url }}" target="_blank">
                Zur Seite &rarr;
              </a>
            </figcaption>
          </figure>
          {% if forloop.last %}
          {% assign fundevogel = site.data.portfolio[0] %}
          <noscript>
            <div class="has-bg-image fullscreen" style="background-image: url('assets/images/portfolio/portfolio_{{ fundevogel.handle }}.jpg')">
              <div class="slider_overlay fullscreen">
                <h3>
                  {{ fundevogel.name }}
                </h3>
                <p>
                  {{ fundevogel.desc }}
                </p>
                <a class="btn bgc--teal" href="{{ fundevogel.url }}" target="_blank">
                  Zur Seite &rarr;
                </a>
              </div>
            </div>
          </noscript>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section style="text-align: center; width: 50%; margin: 0 auto;">
  <div class="my-slider">

    {% for image in site.static_files %}
        {% if image.path contains 'images/cms' %}
        <div class="">
          <img src="{{ site.baseurl }}{{ image.path }}" alt="image">
          <b style="display: block">{{ image.name | remove: '.svg' | capitalize }}</b>

        </div>
        {% endif %}
    {% endfor %}


  </div>
</section>
