<section class="services">
  <div class="wrap">
    <strong>Gemeinsam erfolgreich</strong>
    <p>
      Gewissenhaft und authentisch, (viel) mehr nicht.
    </p>
    <div class="gallery" data-right-height>
      <div class="item" data-right-height-content>
        <p>
          Ob persönlicher <strong class="versatile">Blog, Projektseite oder Firmenauftritt</strong> mit Shopsystem, los geht's: barrierearm und browserkompatibel, <strong class="versatile">für alle Endgeräte</strong> optimiert.
        </p>
      </div>
      <div class="item" data-right-height-content>
        <p>
          Wer seine Nutzer zu lange warten lässt, verliert sie. <strong class="fast">Geringe Ladezeiten</strong> hingegen sorgen für entspannte Nutzer und liegen auch beim <strong class="fast">Ranking von Google & Co</strong> vorn.
        </p>
      </div>
      <div class="item" data-right-height-content>
        <p>
          Gemeinsam erarbeiten wir ein <strong class="secure">Sicherheitskonzept</strong>, um Angriffe erheblich zu erschweren und sensible Daten zu schützen. Das Thema <strong class="secure">Verschlüsselung</strong> ist heutzutage Pflicht.
        </p>
      </div>
      <div class="item" data-right-height-content>
        <p>
          Optimierter Code ist <strong class="natural">ressourcenschonend</strong>, da bei geringerer Größe weniger geladen werden muss. Ich setze außerdem aus Überzeugung auf <strong class="natural">erneuerbare Energien</strong>.
        </p>
      </div>
      <div class="item" data-right-height-content>
        <p>
          Das Web ist ständig in Bewegung. Gehen Sie mit <strong class="innovative">moderner Netztechnologie</strong> in Führung, um anschließend mit <strong class="innovative">kreativen Marketingstrategien</strong> davonzuziehen.
        </p>
      </div>
      <div class="item" data-right-height-content>
        <p>
          Gern führe ich im Rahmen einer <strong class="reliable">langfristigen Zusammenarbeit</strong> zur fortlaufenden Weiterentwicklung Ihres Angebots regelmäßige <strong class="reliable">Qualitätskontrollen</strong> durch.
        </p>
      </div>
    </div>
  </div>
</section>
