<section class="about">
  <div class="wrap">
    <div id="martin-folkers" class="portrait">
      <div class="image-area">
        <img class="img round lazy" title="Martin (two-brain)" alt="Foto von Martin aka two-brain"
           sizes="(min-width: 64em) 200px, 150px"
           data-srcset="{{ site.baseurl }}/assets/images/martin-150x150.jpg 150w, {{ site.baseurl }}/assets/images/martin-200x200.jpg 200w, {{ site.baseurl }}/assets/images/martin.jpg 400w"
           data-src="{{ site.baseurl }}/assets/images/martin-200x200.jpg">
        <noscript>
          <img class="round" title="Martin (two-brain)" alt="Foto von Martin aka two-brain"
            sizes="(min-width: 64em) 200px, 150px"
            data-srcset="{{ site.baseurl }}/assets/images/martin-150x150.jpg 150w, {{ site.baseurl }}/assets/images/martin-200x200.jpg 200w, {{ site.baseurl }}/assets/images/martin.jpg 400w"
            data-src="{{ site.baseurl }}/assets/images/martin-200x200.jpg">
        </noscript>
      </div>
      <h3>Martin</h3>
      <p>
        .. ist am liebsten einfach Papa zweier Söhne und studiert Jura. Wenn er davon eine Auszeit braucht, <strong>gestaltet, optimiert und betreut er Webseiten</strong> - wenn er davon wiederum eine Auszeit braucht, lernt er Altgriechisch.
      </p>
      <div class="links">
        <span title="Meine persönliche Seite befindet sich momentan im Aufbau" class="btn is-disabled">Website &rarr;</span>
        <a class="btn bgc--red" href="https://github.com/S1SYPHOS" title="Auf Github besuchen" target="_blank">GitHub &rarr;</a>
      </div>
    </div>
    <div id="wasili-adamow" class="portrait">
      <div class="image-area">
        <img class="img round lazy" title="Wasili" alt="Foto von Wasili"
        sizes="(min-width: 64em) 200px, 150px"
        data-srcset="{{ site.baseurl }}/assets/images/wasili-150x150.jpg 150w, {{ site.baseurl }}/assets/images/wasili-200x200.jpg 200w, {{ site.baseurl }}/assets/images/wasili.jpg 400w"
        data-src="{{ site.baseurl }}/assets/images/wasili-200x200.jpg">
        <noscript>
          <img class="round" title="Wasili" alt="Foto von Wasili"
            sizes="(min-width: 64em) 200px, 150px"
            data-srcset="{{ site.baseurl }}/assets/images/wasili-150x150.jpg 150w, {{ site.baseurl }}/assets/images/wasili-200x200.jpg 200w, {{ site.baseurl }}/assets/images/wasili.jpg 400w"
            data-src="{{ site.baseurl }}/assets/images/wasili-200x200.jpg">
        </noscript>
      </div>
      <h3>Wasili</h3>
      <p>
        .. spricht Russisch ebenso fließend wie Java und unterstützt mich in den Bereichen <strong>Web-, Software- & App-Entwicklung</strong> mit freier Zuarbeit. Wenn er gerade kein Startup gründet, spielt er eine Runde Basketball im Park.
      </p>
      <div class="links">
        {% for item in site.data.team.wasili %}
          <a class="btn bgc bgc--red" href="{{ item.url }}" title="{{ item.title }}" target="_blank">{{ item.name }} &rarr;</a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
