<section id="frische-ideen" class="section">

  {% include heading.html title="Frische Ideen" handle="frische-ideen" icon="welcome" %}

  <div class="wrap">
    <p>
      Seit mehr als zehn Jahren erschaffen wir für Projekte, kleine und mittlere Unternehmen wie auch Privatpersonen einen Ort im Netz, der ganz ihnen gehört - eine <strong>digitale Heimat</strong>, wenn man so will. Unser Antrieb dabei ist die Faszination für das Web und seine Möglichkeiten. Ob wir beim Umzug helfen oder ein ganzes Haus bauen sollen, wir helfen Ihnen gern dabei, sich hier einen Platz einzurichten.
    </p>
    <hr>
    <div class="">
      <div class="one_half padding-top">
        <h3>Menschliches Design</h3>
        <p>
          Im Mittelpunkt unserer Tätigkeit stehen Kunden und Nutzer gleichermaßen, zwischen denen wir durch unsere <strong>Designsprache</strong> vermitteln. Unsere Webseiten sind deshalb leicht zu bedienen, barrierearm und für alle Endgeräte optimiert.
        </p>
        <a data-scroll class="btn sans-ui" href="/unsere-leistungen/">
          Mehr Design ~
        </a>
      </div>
      <div class="one_half padding-top">
        <h3>Digitales Handwerk</h3>
        <p>
          Unter der Oberfläche dampft und raucht eine Maschine, bestehend aus Code. Wir verbauen moderne <strong>Netztechnologie</strong> und kennen alle aktuellen Trends. Am Ende unseres Tunings stehen geringe Ladezeiten und optimale Sicherheit.
        </p>
        <a data-scroll class="btn sans-ui to" href="/unsere-leistungen/">
          Mehr Technik ~
        </a>
      </div>
    </div>
  </div>
</section>
