<section id="ueber-uns" class="welcome section border-bottom">
  <div class="content section">

    {% include heading.html title="Über uns" handle="ueber-uns" icon="about" %}

    <div class="wrap">
      <div class="one_half up-640">
        <a class="has-overlay" href="/unser-team/">
          <img class="lazy"  alt=""
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="team.jpg" />
          <noscript>
            <img alt="" src="team.jpg" />
          </noscript>
        </a>
      </div>
      <div class="one_half">
        <h3>Lernen Sie uns kennen</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae ligula consequat, dictum nunc quis, condimentum nulla. Praesent vel turpis rutrum, vestibulum magna eu, molestie augue. Nam suscipit ex at dolor auctor auctor. Nunc urna ipsum.
        </p>
        <a data-scroll class="btn sans-ui to" href="#">
          Mehr Team ~
        </a>
      </div>
    </div>
  </div>
  <div class="" style="padding: 30px 0; width: 100%; border-bottom: 1px solid #ef9a9a; border-top: 1px solid #ef9a9a; background-color: #ffebee;">
    <div class="wrap">
      hallo hallo
    </div>
  </div>
</section>
