//
// Content
//

.clearfix {
  @include clearfix;
}

.wrap {
  @include container;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include min-width(large) {
    max-width: 960px;
  }

  &.full {

    @include min-width(large) {
      max-width: 92%;
    }

    @include min-width(1440) {
      max-width: 64rem; // * 20 = 1280px
    }

  }
}

.site-content {
  // flex: 1 0 auto;
  padding-top: $header-height;

  .static-header & {
    // padding-top: $header-height;
  }
}


.page {
  padding: 2em 0 3em;

  &-header {
    padding: $base-spacing 0;
    text-align: center;

    svg {
      width: $page-logo-diameter--small;
      height: $page-logo-diameter--small;

      @include min-width(logo-break) {
        width: $page-logo-diameter;
        height: $page-logo-diameter;
      }
    }
  }

  h2 {
    font-size: 1.25rem;
    margin: 1em 0 0.25em;
  }
}
