.wrap {
  @include container;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include min-width(large) {
    max-width: 960px;
  }

  &.full {
    max-width: 95%;

    @include min-width(1440) {
      max-width: 64rem; // * 20 = 1280px
    }
  }
}

.page {
  padding: 2em 0 3em;

  &-header {
    padding: 5 * $base-spacing 0 $base-spacing;
    text-align: center;
  }

  h2 {
    font-size: 1.25rem;
    margin: 1em 0 0.25em;
  }
}
