//
// Footer
//

.site-footer {
  color: darken(#fff, 50%);
  padding: 2 * $small-spacing $base-spacing;
  font-size: 0.75rem;
  background: $dark-gray;

  li + li {
    margin-left: $base-spacing;
  }

  svg {
    vertical-align: baseline;
    position: relative;
    top: 1px;
  }
}

.copyright {
  margin-bottom: 0;
}
