<script src="{{ site.url }}/assets/scripts/{{ site.data.assets.main.js }}"
  type="text/javascript"
  integrity="{{ site.data.sriHashes[site.data.assets.main.js] }}"
  crossorigin="anonymous">
</script>

{% if site.piwik == true %}
  <script src="{{ site.url }}/piwik.js"
    async type="text/javascript"
    integrity="sha384-MG3Qv+K7FPgBVlqAhxsTS+wz56YPXvN45y/1jLS5ISwsq2w24rjNAtH1wzZuFpwW"
    crossorigin="anonymous">
  ></script>
  <noscript>
    <img src="https://twobrain.io/piwik/piwik.php?idsite=1&rec=1&action_name=twobrain.io" style="border:0" alt="" />
  </noscript>
{% endif %}
