<script src="{{ site.url }}/assets/scripts/{{ site.data.assets.main.js }}"
  type="text/javascript"
  integrity="{{ site.data.sriHashes[site.data.assets.main.js] }}"
  crossorigin="anonymous">
</script>

{% if site.piwik == true %}
  <script src="{{ site.url }}/piwik/piwik.js"
    async defer
    integrity="sha384-MG3Qv+K7FPgBVlqAhxsTS+wz56YPXvN45y/1jLS5ISwsq2w24rjNAtH1wzZuFpwW"
    crossorigin="anonymous">
  </script>
  <script src="{{ site.url }}/tracking.js"
    type="text/javascript"
    integrity="sha384-MG3Qv+K7FPgBVlqAhxsTS+wz56YPXvN45y/1jLS5ISwsq2w24rjNAtH1wzZuFpwW"
    crossorigin="anonymous">
  </script>
{% endif %}
