<li><a data-scroll {% if page.slug == 'home' %}class="is-active" {% endif %}href="/">Willkommen</a></li>
<li><a data-scroll {% if page.slug == 'portfolio' %}class="is-active" {% endif %}href="/unser-portfolio/">Portfolio</a></li>
<li><a data-scroll {% if page.slug == 'services' %}class="is-active" {% endif %}href="/unsere-leistungen/">Leistungen</a></li>
<li><a data-scroll {% if page.slug == 'team' %}class="is-active" {% endif %}href="/unser-team/">Team</a></li>
<li><a data-scroll {% if page.slug == 'contact' %}class="is-active" {% endif %}href="/kontakt/">Kontakt</a></li>
