---
layout: default
permalink: "/"
title:  "Menschliches Design trifft digitales Handwerk"
slug: home
---
{% include_relative partials/01-intro.html %}
<section class="testimonial">
  <blockquote class="wrap full">
    <div class="image-area loading">
      <img class="round lazy" title="DJ dørbystarr" alt="Foto von DJ dørbystarr"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{ site.baseurl }}/assets/images/tbieheim.jpg"
        width="200" height="200">
      <noscript>
        <img class="round" title="DJ dørbystarr" alt="Foto von DJ dørbystarr"
          src="{{ site.baseurl }}/assets/images/tbieheim.jpg"
          width="200" height="200">
      </noscript>
    </div>
    <div class="text-block">
      <q>Mit Schmardt macht's einfach am meisten Spaß, ich liebe den einfach - <strong>good times, bro!</strong></q>
      <cite>&mdash; <a href="#">DJ dørbystarr, SKILLZ Award (Leipzig)</a></cite>
    </div>
  </blockquote>
</section>
{% include_relative partials/02-portfolio.html %}
{% include_relative partials/03-services.html %}
{% include_relative partials/04-about.html %}
<section class="testimonial">
  <blockquote class="wrap full">
    <div class="image-area loading">
      <img class="round lazy" title="Helena Kluge, Fundevogel (Freiburg)" alt="Foto von Helena Kluge"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{ site.baseurl }}/assets/images/hkluge.jpg"
        width="200" height="200">
      <noscript>
        <img class="round" title="Helena Kluge, Fundevogel (Freiburg)" alt="Foto von Helena Kluge"
          src="{{ site.baseurl }}/assets/images/hkluge.jpg"
          width="200" height="200">
      </noscript>
    </div>
    <div class="text-block">
      <q><strong>Martin verknüpft Professionalität und Kompetenz</strong> mit einer zielstrebigen und kundenorientierten Arbeitsweise. Wir hatten viel Spaß bei der Zusammenarbeit!</q>
      <cite>&mdash; <a href="http://fundevogel.de/">Helena Kluge, Fundevogel (Freiburg)</a></cite>
    </div>
  </blockquote>
</section>
{% include_relative partials/05-contact.html %}
