---
layout: default
permalink: "/"
title:  "Menschliches Design + digitales Handwerk"
slug: home
---
{% include_relative partials/01-intro.html %}
<section class="testimonial">
  <blockquote class="wrap full">
    <div class="image-area loading">
      <img class="img round lazy" title="DJ dørbystarr" alt="Foto von DJ dørbystarr"
        sizes="(min-width: 64em) 200px, 150px"
        data-srcset="{{ site.baseurl }}/assets/images/tbieheim-150x150.jpg 150w, {{ site.baseurl }}/assets/images/tbieheim-200x200.jpg 200w, {{ site.baseurl }}/assets/images/tbieheim.jpg 400w"
        data-src="{{ site.baseurl }}/assets/images/tbieheim-200x200.jpg">
      <noscript>
        <img class="round" title="DJ dørbystarr" alt="Foto von DJ dørbystarr"
          sizes="(min-width: 64em) 200px, 150px"
          data-srcset="{{ site.baseurl }}/assets/images/tbieheim-150x150.jpg 150w, {{ site.baseurl }}/assets/images/tbieheim-200x200.jpg 200w, {{ site.baseurl }}/assets/images/tbieheim.jpg 400w"
          data-src="{{ site.baseurl }}/assets/images/tbieheim-200x200.jpg">
      </noscript>
    </div>
    <div class="text-block">
      <q><strong>Martin ist Programmierer mit Herz.</strong> Er spielt Programmiersprachen wie eine Tonleiter: Für jedes Detail findet er die optimale Lösung zum gestellten Problem.</q>
      <cite>&mdash; <a href="http://skillz-leipzig.de">DJ dørbystarr, SKILLZ Award (Leipzig)</a></cite>
    </div>
  </blockquote>
</section>
{% include_relative partials/02-portfolio.html %}
{% include_relative partials/03-services.html %}
{% include_relative partials/04-about.html %}
<section class="testimonial">
  <blockquote class="wrap full">
    <div class="image-area loading">
      <img class="img round lazy" title="Helena Kluge, Fundevogel (Freiburg)" alt="Foto von Helena Kluge"
        sizes="(min-width: 64em) 200px, 150px"
        data-srcset="{{ site.baseurl }}/assets/images/hkluge-150x150.jpg 150w, {{ site.baseurl }}/assets/images/hkluge-200x200.jpg 200w, {{ site.baseurl }}/assets/images/hkluge.jpg 400w"
        data-src="{{ site.baseurl }}/assets/images/hkluge-200x200.jpg">
      <noscript>
        <img class="round" title="Helena Kluge, Fundevogel (Freiburg)" alt="Foto von Helena Kluge"
        sizes="(min-width: 64em) 200px, 150px"
        data-srcset="{{ site.baseurl }}/assets/images/hkluge-150x150.jpg 150w, {{ site.baseurl }}/assets/images/hkluge-200x200.jpg 200w, {{ site.baseurl }}/assets/images/hkluge.jpg 400w"
        data-src="{{ site.baseurl }}/assets/images/hkluge-200x200.jpg">
      </noscript>
    </div>
    <div class="text-block">
      <q>Martin verknüpft <strong>Kompetenz und kundenorientiertes Arbeiten mit Liebe zum Detail.</strong> Selbst ausgefallene Gestaltungswünsche hat er kreativ umgesetzt. Wir hatten viel Spaß bei der Zusammenarbeit!</q>
      <cite>&mdash; <a href="http://fundevogel.de">Helena Kluge, Fundevogel (Freiburg)</a></cite>
    </div>
  </blockquote>
</section>
{% include_relative partials/05-contact.html %}
