---
layout: home
permalink: "/unsere-leistungen/"
title:  "Unsere Leistungen"
slug: services
handle: auf-sie-zugeschnitten
---
<div class="services-overview">
  <div class="services-item section bg--white">
    <div class="wrap">
      <p class="">
        Wir entwerfen, errichten und betreuen Webprojekte. Gern übernehmen wir auch einzelne Aufgaben, etwa als Teil eines größeren Teams, oder sanieren bestehende Internetseiten, indem wir sie optisch überarbeiten (Redesign) oder ihre technischen Grundstrukturen modernisieren (Relaunch).
      </p>
      <p class="margin-top">
        Vor der Schlüsselübergabe prüfen wir ihre Webseite auf Herz und Nieren.
      </p>
    </div>
  </div>
  <div class="services-item services-item--versatile">
    <div class="wrap">
      <div class="icon" style="">
        {% include icons/services/versatile.svg %}
      </div>
      <div class="desc" style="">
        <h3 class="">vielseitig</h3>
        <p class="">
          vom persönlichen Blog zur Firmenseite mit Shopsystem - barrierefrei und browserkompatibel - auf allen Geräten
        </p>
      </div>
    </div>
  </div>
  <div class="services-item services-item--fast">
    <div class="wrap">
      <div class="icon" style="">
        {% include icons/services/fast.svg %}
      </div>
      <div class="desc" style="">
        <h3 class="">schnell</h3>
        <p class="">
          denn niemand wartet gern - geringe Ladezeiten sorgen für entspannte Nutzer und liegen bei Suchmaschinen vorn
        </p>
      </div>
    </div>
  </div>
  <div class="services-item services-item--secure">
    <div class="wrap">
      <div class="icon" style="">
        {% include icons/services/secure.svg %}
      </div>
      <div class="desc" style="">
        <h3 class="">sicher</h3>
        <p class="">
          vor Angriffen sind persönliche Daten nur mit SSL-Zertifikaten und einer Vielzahl individueller Anpassungen
        </p>
      </div>
    </div>
  </div>
  <div class="services-item services-item--environment-friendly">
    <div class="wrap">
      <div class="icon" style="">
        {% include icons/services/environment-friendly.svg %}
      </div>
      <div class="desc" style="">
        <h3 class="">umweltfreundlich</h3>
        <p class="">
          betrieben von Ökostrom - optimierte Seiten helfen, Energie einzusparen, da sie weniger in kürzerer Zeit laden
        </p>
      </div>
    </div>
  </div>
  <div class="services-item services-item--innovative">
    <div class="wrap">
      <div class="icon" style="">
        {% include icons/services/innovative.svg %}
      </div>
      <div class="desc" style="">
        <h3 class="">innovativ</h3>
        <p class="">
          dank moderner Netztechnologie und aktuellen Webtrends - das Wesentliche im Blick und mit einem Auge fürs Detail
        </p>
      </div>
    </div>
  </div>
  <div class="services-item services-item--reliable">
    <div class="wrap">
      <div class="icon" style="">
        {% include icons/services/reliable.svg %}
      </div>
      <div class="desc" style="">
        <h3 class="">zuverlässig</h3>
        <p class="">
          zusammenarbeiten als Ziel - langfristig analysieren, bei Bedarf aktualisieren - als Ihr Ansprechpartner im Web
        </p>
      </div>
    </div>
  </div>
</div>
