---
layout: home
permalink: "/unser-team/"
title:  "Unser Team"
slug: team
handle: "stellt-sich-vor"
---
<div class="wrap">
  <div class="team-photo relative float-left">
    <img class="member lazy" title="Martin Folkers - two-brain"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="/assets/images/team/mfolkers.jpg" alt="Foto von Martin Folkers" />
    <noscript>
      <img class="member" src="/assets/images/team/mfolkers.jpg" />
    </noscript>
  </div>
  <div class="team-content padding-left margin-top float-right">
    <div class="card card--team">
      <h4>Martin Folkers ..</h4>
      <p>
        .. ist am liebsten einfach Papa zweier Söhne und studiert Jura. Wenn er davon eine Auszeit braucht, gestaltet, optimiert und betreut er Webseiten - wenn er davon wiederum eine Auszeit braucht, lernt er Altgriechisch.
      </p>
      <ul class="nav team-icons flex no-margin no-bullets">
        {% for item in site.data.team.schmardt %}
        <li>
          <a title="{{ item.desc }}" target="_blank" href="{{ item.link }}">
            {% include icons/team/{{ item.handle }}.svg %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <ul class="card no-margin margin-top">
      <li>Markup: HTML5, CSS3, Bootstrap, Foundation</li>
      <li>Web: PHP, Javascript, jQuery</li>
      <li>Design: Gimp, Inkscape, Stift und Papier</li>
      <li>CMS & Shops: zu viele :-)</li>
    </ul>
  </div>
</div>
<div class="wrap">
  <div class="team-photo relative float-right">
    <img class="member lazy" title="Wasili Adamow - freier Mitarbeiter"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="/assets/images/team/wadamow.jpg" alt="Foto von Wasili Adamow" />
    <noscript>
      <img class="member" src="/assets/images/team/wadamow.jpg" />
    </noscript>
  </div>
  <div class="team-content padding-right margin-top padding-right float-left">
    <div class="card card--team">
      <h4>Wasili Adamow ..</h4>
      <p>
        .. spricht Russisch ebenso fließend wie Java und unterstützt uns als freier Mitarbeiter in den Bereichen Web-, Software- & App-Entwicklung. Wenn er gerade kein Startup gründet, spielt er eine Runde Basketball im Park.
      </p>
      <ul class="nav team-icons flex no-margin no-bullets">
        {% for item in site.data.team.wase %}
        <li>
          <a title="{{ item.desc }}" target="_blank" href="{{ item.link }}">
            {% include icons/team/{{ item.handle }}.svg %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <ul class="card no-margin margin-top float-right">
      <li>Web: PHP, Zend, angularJS, Node.js</li>
      <li>App: Android SDK, Surface SDK</li>
      <li>Software: Java, C#, Python</li>
      <li>CMS: Wordpress, Pimcore</li>
    </ul>
  </div>
</div>
